<div class="footer-wrapper">
    <div class="section section-n1">
        <div class="section-title">Secciones</div>
        <a (click)="scrollToTop()" routerLink="/">Inicio</a>
        <a (click)="scrollToTop()" routerLink="/trabajos">Trabajos</a>
        <a (click)="scrollToTop()" routerLink="/servicios">Servicios</a>
        <a (click)="scrollToTop()" routerLink="/contacto">Contacto</a>
        <a (click)="scrollToTop()" routerLink="/nosotros">Nosotros</a>
    </div>
    <div class="section section-n2">
        <div class="section-title">Contacto</div>
        <a href=""><i class="fa-solid fa-phone" style="color: #808080;"></i> 11 1234-5678</a>
        <a href=""><i class="fa-brands fa-whatsapp" style="color: #808080;"> </i> 11 1234-5678</a>
        <a href=""><i class="fa-brands fa-instagram" style="color: #808080;"></i> marketingnetwork.publicidad</a>
        <a href=""><i class="fa-regular fa-envelope" style="color: #808080;"></i> marketing.network.pubilcidad&#64;gmail.com</a>
    </div>
    <div class="section section-n3">
        <div class="backtotop" (click)="scrollToTop()">Volver arriba <i class="fa-solid fa-chevron-up"></i></div>
    </div>
</div>