<main>
    <!-- <div class="text-block">
        <div class="title">Lo que <span class="blue">tu </span><span class="blue">negocio</span> necesita <br> para tener la <span class="blue">mejor imagen</span></div>
        <div class="sub-title">Una red de profesionales que haran lo posible para elevarte al siguiente nivel</div>

    </div> -->
    <img src="obra maestra criticada.png" alt="">
    <div class="text-block">
        <div class="text">lo que <span class="clr-blue">tu negocio</span> necesita <br> para tener la <span class="clr-blue">mejor imagen</span></div>
        <div class="text">Con <span class="clr-blue fw-800">AÑOS DE EXPERIENCIA</span> en el mercado, te ofrecemos la mejor oportunidad para que tu empresa se <span class="clr-blue fw-800">DESTAQUE </span>sobre el resto</div>
    </div>
</main>


<!-- <div class="text">Una red de profesionales que haran todo lo posible para elevarte al <span class="clr-blue">siguiente nivel</span></div> -->

<app-muestra/>

<app-footer/>